# Test Base URL
base_url: https://automationexercise.com

# The browser name where the tests will be executed
# Supported browsers: chrome, firefox, edge
browser: chrome

# Default wait time (in seconds) for fetching elements
wait: 5

# Default page load timeout (in seconds)
timeout: 10